numpy
nptdms
matplotlib
matplotloom
scikit-learn
scipy
PyYAML
h5py
PyQt5
joblib
pandas
statsmodels
tifffile
tkfilebrowser
networkx
umap-learn
kilosort[gui]
UnitMatchPy==3.3.1
bombcell
morphapi
brainreg[napari]
brainrender