numpy==1.26.4
nptdms
matplotlib>=3.8.0
scikit-learn
scipy
PyYAML
h5py
PyQt5
kilosort[gui]
umap-learn
UnitMatchPy
tifffile
brainreg[napari]
brainrender
morphapi
pandas==2.3.0
statsmodels>=0.14.4
allensdk
joblib
bombcell
tkfilebrowser